//Screen size
$max-width: 2160px;

//Font settings
$main-font: "Poppins", sans-serif;
$heading: 24px;
$medium-text: 20px;
$small-text: 16px;

//Colors
$text: #1a1a1a;
$text-light: #efefef;
$bg: #e9ecfb;
$outer-bg: #efeefe;
$light: #f8f9fe;
$primary: #4342f6;
$secondary: #f2f4ff;
$accent: #2dcd92;
