//Screen size
$max-width: 2160px;

//Font settings
$main-font: "Poppins", sans-serif;
$large-heading: 28px;
$heading: 24px;
$large-text: 20px;
$medium-text: 18px;
$small-text: 16px;

//Colors
$text: #373737;
$text-light: #9295aa;
$white: #f3f3f3;
$bg: #ffffff82;
$darkish-border: #45539c34;
$outer-bg: #ffffff21;
$light: #ffffffab;
$primary: #9560f9;
$secondary: #f2e7fc;
$accent: #55cea3;
