@import "./global/variables";

.main-window {
  width: 100%;
  max-width: $max-width;
  height: calc(100vh - 32px);
  min-height: 700px;
  background-color: $outer-bg;
  border-radius: 36px;
  box-shadow: 0 20px 50px #5f1bf17b;
  backdrop-filter: blur(100px);

  padding: 14px;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: $bg;
    border-radius: 22px;
    overflow: hidden;
  }
}
