@import "../global/variables";

.side-bar {
  width: 20%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 72px;
  background-color: $light;
}
