@import "../global/variables";

.user-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid $light;
  padding: 8px 16px;

  h3 {
    font-size: $medium-text;
    font-weight: 600;
  }
  .user-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;
    gap: 8px;

    .user-img {
      width: 56px;
      height: 56px;
      border: 2px solid $text;
      border-radius: 200px;
    }
    button {
      border: none;
      background: none;
      font-size: $small-text;
      font-weight: 400;
      color: $primary;
      width: 60px;
    }
  }
}
