@import "../global/variables";

.side-bar {
  width: 20%;
  height: calc(100% - 90px);
  border-right: 1px solid $light;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 72px;
}
